
<header class="app-header" style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
    <div style="display: flex; align-items: center;">
        <img src="../../assets/download (1).png" alt="Person" class="header-logo" style="height:40px; margin-right: 10px;">
        <h1 style="margin: 0;"></h1>
    </div>
    <nav>
        <a routerLink="/add" routerLinkActive="active">Add Task</a>
        <a routerLink="/pending" routerLinkActive="active">Pending</a>
        <a routerLink="/completed" routerLinkActive="active">Completed</a>
    </nav>
</header>
<h2>yuvvarahjjj</h2>
