.card{
    background-color: aqua;                                 

}
.cardd{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-top: 40px;
}
.cardr{
    position: absolute;
    top:10%;
    right: 0.6rem   ;
    margin-top: 3em;

}
.yuva{
    margin-top: 1rem;

}
